<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Square Checker</title>
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="font-awesome.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Square Checker</h1>
  <h2>Is it a square?</h2>


  <h3>Possible Squares</h3>
  <ul class="messages">
  <% for(var i=0; i<square.length; i++) {%>
    <li class="message">
      <span><%= square[i].square %></span>
    </li>
  <% } %>
  </ul>

  <h2>Check if it's a square</h2>

  <form action="/messages" method="POST">
    <input type="text" placeholder="number" name="square">
    <button type="submit">Submit</button>
  </form>

  <script src="main.js"></script>

</body>
</html>
