body{
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.publicdomainpictures.net%2Fpictures%2F170000%2Fvelka%2Fsquares-chessboard-1461655712iSf.jpg&f=1&nofb=1");
  font-size: 30px;
}
h3{
  margin-top: 60px;
}
body{
  color:red;
  text-align: center;
}
ul{
  list-style: none;
}